
.red {
    color: red;
}
.blue {
    color: blue;
}
.green {
    color: green;
}


.box1 {
    background-color: gray;
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.box2 {
    background-color: silver;
    width: 80px;
    height: 80px;
    /* By default, border-radius is not inheritable,
        so setting up it to inherit with the parent will get the
        border radius defined.
    */
    border-radius: inherit; 
}